<a href="https://colab.research.google.com/github/daniel-usp/MachineLearning/blob/main/Regress%C3%A3o_Log%C3%ADstica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análise de Regressão Logística

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('/content/varejo.xlsx')
df

     pagamento  Solteiro  idade  Mulher
0            1         0     20       0
1            1         0     34       1
2            1         0     21       1
3            1         0     22       1
4            1         0     22       1
..         ...       ...    ...     ...
175          0         1     20       0
176          0         1     23       0
177          0         1     18       0
178          0         0     24       1
179          0         0     18       0

[180 rows x 4 columns]

In [ ]:
import statsmodels.api as sm

# Supondo que o DataFrame df já existe e tem as colunas 'Vendas', 'Youtube' e 'Instagram'

# Definir a variável dependente y e as independentes X
y = df['pagamento']
X = df.drop('pagamento', axis = 1)

# Adicionar uma constante ao conjunto de variáveis independentes
X = sm.add_constant(X)

# Ajustar o modelo
model = sm.Logit(y, X)
results = model.fit()


# Mostrar a tabela de resultados
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.407352
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:              pagamento   No. Observations:                  180
Model:                          Logit   Df Residuals:                      176
Method:                           MLE   Df Model:                            3
Date:                Thu, 22 Jun 2023   Pseudo R-squ.:                  0.3106
Time:                        15:26:29   Log-Likelihood:                -73.323
converged:                       True   LL-Null:                       -106.35
Covariance Type:            nonrobust   LLR p-value:                 2.981e-14
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.9659      1.123     -1.751      0.080      -4.166       0.234
Solteiro      -2.9509      0.583     -5.062      0.000      -4.093      -1.808
idade          0.1161      0.044      2.621      0.009       0.029       0.203
Mulher         1.3012      0.439      2.967      0.003       0.442       2.161
==============================================================================

In [ ]:
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Supondo que o DataFrame df já existe e tem as colunas 'pagamento', 'Youtube' e 'Instagram'

# Definir a variável dependente y e as independentes X
y = df['pagamento']
X = df.drop('pagamento', axis=1)

# Adicionar uma constante ao conjunto de variáveis independentes
X = sm.add_constant(X)

# Dividir os dados em amostra de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ajustar o modelo de regressão logística na amostra de treino
model = sm.Logit(y_train, X_train)
results = model.fit()

# Fazer previsões na amostra de teste
y_pred = results.predict(X_test)
y_pred = [1 if pred > 0.5 else 0 for pred in y_pred]


# Calcular a acurácia
accuracy = accuracy_score(y_test, y_pred)
print("Acurácia:", accuracy)

Optimization terminated successfully.
         Current function value: 0.405818
         Iterations 7
Acurácia: 0.8055555555555556

In [ ]:
import numpy as np

# Definir novos valores para Solteiro, Idade e Mulher
new_X = np.array([[1, 1, 25, 0],  # 1 para a constante
                  [1, 0, 40, 1],  # 1 para a constante
                  [1, 1, 45, 0]]) # 1 para a constante

# Calcular as previsões
probabilidades = results.predict(new_X)

# Imprimir as previsões
for i, pred in enumerate(probabilidades):
    print(f"A probabilidade de pagamento para o conjunto {i+1} é igual: {pred:.2f}")

A probabilidade de pagamento para o conjunto 1 é igual: 0.13
A probabilidade de pagamento para o conjunto 2 é igual: 0.99
A probabilidade de pagamento para o conjunto 3 é igual: 0.66

['NÃO PAGA', 'PAGA', 'PAGA']